
<div class="flex flex-col">
    Welcome!
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <app-text-form [textForm]="email" formName="E-mail"></app-text-form>
        <app-text-form [textForm]="password" formName="Password"></app-text-form>
        <button class="" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>
<div class="divider" role="separator" aria-label="Divider"></div>
<div class="right-side">
    Don't have an account?
    <span>
        Sign up!
    </span>
</div>