<div class="w-full h-full max-w-125 max-h-120 flex flex-col bg-gray-200 rounded-xl shadow shadow-gray-500">
  <div class="flex items-start justify-between">
    <div class="text-xl font-bold py-4 pl-2 wrap-break-word hyphens-auto overflow-y-scroll">
      {{ question?.question }}
    </div>
    @if (isForQuiz) {
      <button
        #dropDownButton
        class="MoreOptionsButton relative p-2 py-5"
        (click)="toggleMenu($event)"
      >
        <mat-icon>more_vert</mat-icon>
        @if (openOptionsMenu) {
          <div
            class="absolute top-9 right-0 mr-2 mt-2 w-48 bg-white shadow-lg rounded-lg border text-cyan-950 z-1 p-2"
          >
            <div
              class="px-3 py-2 rounded bg-transparent hover:bg-gray-300 hover:text-black cursor-pointer"
              (click)="this.chatOperationService.updateExistingQuestion(clone(question!))"
            >
              Update
            </div>
            <div
              class="px-3 py-2 rounded bg-transparent hover:bg-gray-300 hover:text-black cursor-pointer"
              (click)="deleteQuestion()"
            >
              Delete
            </div>
          </div>
        }
      </button>
    }
  </div>
  <div class="AnswersTable grid grid-cols-2 gap-2 p-2 w-full transition-all duration-200 my-auto">
    <button class="answer wrap-break-word hyphens-auto">
      {{ question?.answers![0].answer }}
    </button>
    <button class="answer wrap-break-word hyphens-auto">
      {{ question?.answers![1].answer }}
    </button>
    <button class="answer wrap-break-word hyphens-auto">
      {{ question?.answers![2].answer }}
    </button>
    <button class="answer wrap-break-word hyphens-auto">
      {{ question?.answers![3].answer }}
    </button>
  </div>
  @if (isForQuiz) {
    <button class="showAnswer" (click)="showCorrectAnswer()">Show Answer</button>
  }
</div>
