<div class="w-full h-full max-w-125 bg-gray-200 rounded-xl shadow shadow-gray-500">
  <div class="flex items-center justify-between">
    <div class="text-xl font-bold py-4 pl-2">
      {{ question?.question }}
    </div>
    @if (isForQuiz) {
      <button class="p-2">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>
  <div class="w-full border-t border-gray-500"></div>
  <div class="AnswersTable grid grid-cols-2 gap-2 my-2 p-2">
    <button class="answer answerCorrect">
      {{ question?.answers?.answers![0].answer }}
    </button>
    <button class="answer answerWrong">
      {{ question?.answers?.answers![1].answer }}
    </button>
    <button class="answer asnwered">
      {{ question?.answers?.answers![2].answer }}
    </button>
    <button class="answer asnwered">
      {{ question?.answers?.answers![3].answer }}
    </button>
  </div>
  @if (isForQuiz) {
    <div class="w-full border-t border-gray-500"></div>
    <div class="p-2 flex gap-1 items-center justify-between">
      @if (showAnswer && isForQuiz) {
        <div class="text-green-800">
          {{ question?.correctAnswer }}
        </div>
      }

      <button (click)="showAnswer = !showAnswer" class="ml-auto">
        @if (showAnswer) {
          <mat-icon class="flex size-1.25 right-1">expand_more</mat-icon>
        } @else {
          <mat-icon class="flex size-1.25 right-1">expand_less</mat-icon>
        }
      </button>
    </div>
  }
</div>
