<div
  class="bg-gray-300 flex flex-col h-full min-h-0 transition-all duration-300 justify-start pb-6 select-none z-1 max-[1350px]:absolute max-[1350px]:h-full max-[1350px]:shadow"
  [ngClass]="menuOpen ? 'w-80' : 'w-0 overflow-hidden'"
>
  <h1
    class="text-gray-800 flex my-4 mx-4 max-[600px]:text-xl min-[600px]:text-2xl overflow-x-clip text-ellipsis whitespace-nowrap"
  >
    Chats
  </h1>
  <div
    (click)="newChat()"
    class="w-full max-w-75 text-xl text-gray-700 cursor-pointer rounded-lg px-3 py-2 my-0.5 transition-all duration-200 hover:bg-gray-500 hover:text-white flex items-center mx-2 overflow-clip"
  >
    <mat-icon class="overflow-visible mr-2">add_comment</mat-icon>
    <h2 class="whitespace-nowrap max-[600px]:text-xl min-[600px]:text-2xl truncate">new chat</h2>
  </div>
  <div
    (click)="createNewQuestionFromDialog()"
    class="w-full max-w-75 text-gray-700 cursor-pointer rounded-lg px-3 py-2 my-0.5 transition-all duration-200 hover:bg-gray-500 hover:text-white flex items-center mx-2 overflow-clip"
  >
    <mat-icon class="overflow-visible mr-2">edit_square</mat-icon>
    <h2 class="whitespace-nowrap max-[600px]:text-xl min-[600px]:text-2xl truncate">
      new question
    </h2>
  </div>
  <div class="w-full border-t border-gray-500"></div>
  <div class="overflow-y-auto w-full flex flex-col p-2 max-h-full min-h-0 grow scrollbar-elegant">
    @let selectedChat = this.chatOperationService.chatService.chat$ | async;
    @for (
      item of this.chatOperationService.chatService.allchats$! | async;
      let i = $index;
      track item.id
    ) {
      <div class="flex gap-1 px-3 chatWithDeleteButton transition-all duration-200">
        <div
          #chatItem
          (click)="getNewChat(item.id, i)"
          class="chatButton w-full min-w-0 text-gray-700 cursor-pointer rounded-lg py-2 px-2 my-0.5 transition-all duration-200 flex items-center"
          [ngClass]="selectedChat?.id! == item.id ? 'bg-gray-500 text-white flex items-center' : ''"
        >
          @if (!item.firstMessage?.content || item.firstMessage?.content == '') {
            <span class="truncate min-w-0 max-[600px]:text-sm min-[600px]:text-base"
              >Loading chat...</span
            >
          } @else {
            <span class="truncate min-w-0 max-[600px]:text-sm min-[600px]:text-base">{{
              item.firstMessage?.content
            }}</span>
          }
          @if (item.firstMessage?.content == 'New Chat' || item.firstMessage?.content == '') {
            <span class="truncate min-w-0 pl-1 max-[600px]:text-sm min-[600px]:text-base">
              {{ i + 1 }}</span
            >
          }
        </div>
        <button
          class="bg-gray-900 px-2 text-white rounded-lg transition-colors duration-300 cursor-pointer hover:bg-gray-700 hidden"
          (click)="deleteChat(item.id, i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    } @empty {
      <h2
        class="flex text-gray-500 text-xl self-center items-center justify-center text-center h-full w-full flex-col mt-5"
      >
        No chats yet!
        <div
          (click)="newChat()"
          class="w-full max-w-75 text-xl text-gray-700 cursor-pointer rounded-lg px-3 py-2 my-4 transition-all duration-200 hover:bg-gray-500 hover:text-white flex items-center justify-center self-center"
        >
          <mat-icon class="overflow-visible mr-2">edit_square</mat-icon>
          <div class="text-lg whitespace-nowrap">Create a chat</div>
        </div>
      </h2>
    }
    <div #chatListEnd></div>
  </div>
  <div class="w-full border-t border-gray-500"></div>
</div>
