<div class="bg-gray-100 w-full h-screen flex flex-col">
  <app-navbar>
    <div sideButton class="w-18 relative flex items-center navSide">
      @if (menuOpen) {
        <mat-icon (click)="openMenu()">menu</mat-icon>
      } @else {
        <mat-icon (click)="openMenu()">arrow_back</mat-icon>
      }
    </div>
    <div
      class="px-3 py-2 rounded bg-transparent hover:bg-gray-300 hover:text-black cursor-pointer"
      (click)="home()"
    >
      Home
    </div>
  </app-navbar>
  <div class="flex flex-1 min-h-0 h-full">
    <app-side-bar [menuOpen]="menuOpen"> </app-side-bar>
    <div
      class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr))] w-full h-full gap-7 overflow-scroll place-items-center items-stretch justify-items-stretch py-14 px-24"
    >
      @if (this.quizService.quiz$ | async; as quiz) {
        @for (item of (this.quizService.quiz$ |async)?.quiz; track item.id) {
          <app-question-card [isForQuiz]="true" [question]="item"> </app-question-card>
        }
      }
    </div>
  </div>
</div>
