<div class="bg-gray-100 w-full h-screen flex flex-col">
  <app-navbar>
    <div sideButton class="w-18 relative flex items-center navSide">
      @if (!menuOpen) {
        <mat-icon (click)="openMenu()">menu</mat-icon>
      } @else {
        <mat-icon (click)="openMenu()">arrow_back</mat-icon>
      }
    </div>
    <div
      class="px-3 py-2 rounded bg-transparent hover:bg-gray-300 hover:text-black cursor-pointer"
      (click)="myQuizes()"
    >
      My Quizes
    </div>
  </app-navbar>

  <!-- main -->
  <div class="flex flex-1 min-h-0 h-full">
    <!-- chat logs -->
    <app-side-bar [menuOpen]="menuOpen">
    </app-side-bar>

    <!-- chat -->
    <div class="flex-1 h-full flex flex-col text-white justify-between relative">
      <div
        class="flex flex-col overflow-y-scroll overflow-x-hidden absolute bottom-16 top-0 px-50 w-full"
      >
        @if (this.chatOperationService.chatService.chat?.messages) {
          @for (
            item of this.chatOperationService.chatService.chat?.messages;
            let i = $index;
            track $index
          ) {
            <div
              class="min-w-0 max-w-[60%] text-base text-gray-700 rounded-2xl px-3 py-2 my-2 transition-all duration-200 flex flex-col"
              [ngClass]="{
                'w-fit self-end bg-gray-900 text-white': item.role === 'user',
                'w-full bg-gray-300 py-4': item.role !== 'user',
                hidden: this.chatOperationService.chatService.chat?.messages.length < 1,
              }"
            >
              <div
                class="text-lg"
                [ngClass]="item.role == 'user' ? 'text-cyan-200' : 'text-gray-900'"
              >
                @if (item.role == 'user') {
                  Me
                } @else {
                  Study Buddy
                }
              </div>
              <span class="min-w-0 wrap-break-word whitespace-pre-line">
                @if (item.role == 'user') {
                  {{ item.content }}
                } @else {
                  {{ this.fileService.formatQuestionFromJson(item.content) }}
                }
              </span>
            </div>
          } @empty {
            <div
              class="flex text-gray-300 text-3xl self-center items-center justify-center text-center h-full absolute w-full"
            >
              No messages yet!
            </div>
          }
        } @else {
          <div
            class="flex text-gray-300 text-3xl self-center items-center justify-center text-center h-full absolute w-full"
          >
            No messages yet!
          </div>
        }
        <div #chatEnd></div>
        <div class="mt-35"></div>
      </div>

      <!-- chatbox -->
      <div
        class="flex left-50 right-50 mb-10 rounded-4xl bg-gray-900 items-center absolute bottom-0"
      >
        <div class="flex h-full grow relative max-w-40 pl-4 hover:bg-gray-800 rounded-l-4xl">
          <div
            class="flex items-center justify-start cursor-pointer relative w-full"
            (click)="showModels = !showModels"
          >
            <div
              class="flex py-4 pr-4 truncate whitespace-nowrap transition-all duration-300 mr-7 max-w-30"
            >
              {{ selectedModel().modelName }}
            </div>
            @if (showModels) {
              <mat-icon class="flex size-1.25 absolute right-1">expand_more</mat-icon>
            } @else if (!showModels) {
              <mat-icon class="flex size-1.25 absolute right-1">expand_less</mat-icon>
            }
          </div>
          @if (showModels) {
            <div
              class="absolute bottom-full mb-2 left-1/2 -translate-x-1/2 w-48 bg-white shadow-lg rounded-lg border p-2 z-50 text-cyan-950"
            >
              @for (model of models(); track $index) {
                <div
                  class="px-3 py-2 rounded hover:bg-gray-100 cursor-pointer"
                  (click)="selectModel(model)"
                >
                  {{ model.modelName }}
                </div>
              }
            </div>
          }
        </div>
        <div
          class="flex h-max max-h-75 items-center grow"
          (dragover)="onDragOver($event)"
          (drop)="onFileDrop($event)"
        >
          <button
            type="button"
            class="px-3 text-gray-500 hover:text-gray-700 cursor-pointer"
            (click)="fileInput.click()"
          >
            <mat-icon class="">attach_file</mat-icon>
          </button>
          <input #fileInput type="file" hidden (change)="onFileSelected($event)" />
          <textarea
            #ta
            [(ngModel)]="textContent"
            maxlength="3000"
            rows="1"
            [placeholder]="loadingFile ? 'Loading...' : 'Type or drop pdf/text file...'"
            class="flex-1 resize-none overflow-scroll p-3 outline-none max-h-75 transition-all duration-100 ease-out"
          ></textarea>
        </div>
        <div
          class="py-4 pl-4 whitespace-nowrap w-20 h-full cursor-pointer hover:bg-gray-800 rounded-r-4xl"
          (click)="submitMessage()"
        >
          send
        </div>
      </div>
    </div>
  </div>
</div>
